body {
    background-color: #202124;
    color: #e8e8e8;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    position: static;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

#Name_Google {
    font-size: 20px;
    margin-top: 5px;
}
#GoBackFromImage{
    position: absolute;
    top:39px;
    right: 90px;
    color: white;
    text-decoration: underline;
    font-size: 17px;
}

#ADV {
    margin-top: 60px;
    font-size: 20px;
    color: rgb(240, 118, 118);
}

#find {
    margin-left: 2-px;
    font-size: 17px;
}

.query-row {
    display: flex;
    align-items: center;
    margin: 15px 25px;
    max-width: 900px;
}

.query {
    width: 300px;
    font-size: 15px;
    color: #646161;
}

.adv_search {
    max-width: 600px;
    height: 28px;
    width: 100%;
    position: relative;
    left: -120px;
    top: 3px;
    padding: 2px;
    background-color: #202124;
    border: 1px solid #8b8585;
    color: #e8e8e8;
}

#GoBackFromImage {
    position: absolute;
    color: #e8e8e8;
}
hr {
    border: 1px solid #2f2f2f;
    width: 100%;
    border: 1px solid rgb(11, 11, 11);
    margin-top: 10px;
}
.left_side{
    position: relative;
    left: 820px;
    bottom: 200px;
    padding: 20px;
    font-size: 12px;
}
.button{
    position: relative;
    bottom: 200px;
    margin-left: 680px;
    background-color: #38393c;
    color: #e8eaed;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    cursor: pointer;
}